!!! 5
%meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
%html{:lang => "en", :class => "no-js"}
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ :name => "viewport", :content => "width=device-width;" }/

    %title= @meta_title
    %meta{ :name => "description", :content => @meta_description }/

    %meta{:content => "#{settings.site_url}", :name => "author"}/
    %meta{:content => "de", :name => "language"}/

    %meta{ :property => "og:title", :content => @meta_title }
    %meta{ :property => "og:description", :content => @meta_description }
    %meta{ :property => "og:language", :content => "de" }
    %meta{ :property => "og:site_name", :content => "fb_cms" }
    %meta{ :property => "og:type", :content => "non_profit" }
    %meta{ :property => "og:image", :content => "#{settings.site_url}/apple-touch-icon-114x114-precomposed.png" }
    %meta{ :property => "fb:admins", :content => settings.facebook['admin_id'] }

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => url('stylesheets/style.css') }

    %script{ :type => 'text/javascript', :src =>  url('javascripts/libs/modernizr-2.0.6.min.js') }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{settings.google['analytics']}']);
      _gaq.push(['_setDomainName', '#{settings.site_url}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();    
  %body{ :class => "" }
    #container
      %nav
        %ul
          %li
            %a{:href => url("/") } News
          %li
            %a{:href => url("/about") } About
          %li
            %a{:href => url("/albums") } Pictures
          %li
            %a{:href => url("/events") } Events

      #content{ :role => "main" }
        = yield
        .clear

      %footer
        .hr_stars
        .like_box
          :plain
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F#{URI.escape(settings.facebook['fb_page_path'])}&amp;width=600&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23f0f0f0&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:600px; height:258px;" allowTransparency="true"></iframe>

    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' }
    -# fall back to local jQuery if necessary
    :javascript
      window.jQuery || document.write("<script src='/javascripts/libs/jquery.min.js'>\x3C/script>")
    = javascript_includes      